.intro-content {
    position: relative;
    top: -6.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 4rem;
    position: relative;
    padding-left: 7rem;
    padding-bottom: 1rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position:absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: 0;
    transform: rotate(5deg);
}

.grid-one-main-hading {
    margin-bottom: 1rem;
}

.grid-one-main-description {
    margin-bottom: 15rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform:translate(-3%, 3%) scale(1.2) rotate(5deg);
}


